body  {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color: #F1F1F1;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #448eb8;
}

h1, h2, h3, h4, h5 {
    color: #448eb8;
}

.left {
    float:left;
    max-width: 75%;
}

.right {
    float:right;
    max-width: 20%;
}

#footer {
    clear:left;
    padding-top: 30px;
}

#logo {
    font-family: 'Open Sans', sans-serif;   
    font-size: 72px;
    line-height: 90px;
    font-family: 'Open Sans', sans-serif;
    color: #448eb8;
    font-weight: 800;
    /* text-align: center; */
    letter-spacing: -5px;
    text-shadow: 0px 18px 21px rgba(0, 0, 0, 0.2);
}

#logo-getright {
    text-align: left;
}

#logo-nutrition {
    margin-left: 350px;
}

.sidebar-header {
    /* text-decoration:underline; */
    margin-bottom: 10px;
}

.sidebar-description {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.sidebar-description:hover {
    overflow: inherit;
}

.sidebar-page {
    margin-top: 5px;
}

#header-toolbar-wrap {
    background-color: rgba(99, 161, 228, 1);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    color: white;
}

/* #header-toolbar-wrap a { */
/*     color: white; */
/* } */

.dropdown {
    float:left;
    display: inline-block;
    padding-right: 5px;

    margin-right: 10px;
    border-right: 3px solid white;

    color: white;

    min-width:150px;
}

.dropdown a {
    color: white;
}

.dropdown:hover {
    background-color: white;
    color: #448eb8;
}

.dropdown:hover a {
    /* color: black; */
    color: #448eb8;
}

/* .dropdown-title a:hover { */
/*     background-color: white; */
/*     color: #448eb8; */
/* } */

.dropdown-item {
    padding-left: 10px;
    visibility: hidden;
}

.dropdown:hover .dropdown-item {
    visibility: visible;
}

.dropdown:last-child {
    float:none;
}

#nav {  
    width: 100%; 
    background-color: #448eb8; 
    font-family:"Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif; 
    float: left; 

    padding-left: 3000px;
    margin-left: -3000px;
    padding-right: 3000px;
    margin-right: -3000px;
}

#nav .nav-header { 
    list-style: none; 
    float: left; 
    width: 120px; 
    height: 30px; 
    line-height: 30px; 
    text-align: center;
} 

#nav .nav-header a { 
    color: white; 
    text-decoration: none; 
    display: block; 
} 

#nav .nav-header a:hover { 
    background-color: #5FC5C5; 
} 

#nav .nav-header .nav-list { 
    position: absolute;  
    display: none; 
    padding-left: 0px;
    margin-top: 0px;
} 

#nav .nav-header:hover .nav-list { 
    display: block; 
} 

#nav .nav-header .nav-item { 
    float: none; 
    display: inline; 
}

#nav .nav-header .nav-item .nav-item-title { 
    width: 118px; 
    position: relative; 
    border-left: 1px solid white; 
    border-right: 1px solid white; 
    border-bottom: 1px solid white; 
    background: #5FC5C5; 
    color: #fff; 
}

#nav .nav-header .nav-item .nav-item-title:hover { 
    background: #066; 
    color: #000; 
}


