body  {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

a {
    color: #448eb8;
}

.left {
    float:left;
}

.right {
    float:right;
}

#footer {
    clear:left;
}

#logo {
    font-family: 'Open Sans', sans-serif;   
    font-size: 72px;
    line-height: 90px;
    font-family: 'Open Sans', sans-serif;
    color: #448eb8;
    font-weight: 800;
    /* text-align: center; */
    letter-spacing: -5px;
    text-shadow: 0px 18px 21px rgba(0, 0, 0, 0.2);
}

#logo-getright {
    text-align: left;
}

#logo-nutrition {
    margin-left: 350px;
}

.sidebar-header {
    text-decoration:underline;
    margin-bottom: 10px;
}

.sidebar-description {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.sidebar-description:hover {
    overflow: inherit;
}

.sidebar-page {
    margin-top: 5px;
}

#header-toolbar-wrap {
    background-color: rgba(99, 161, 228, 1);
    padding-left: 3000px;
    margin-left: -3000px;

    padding-right: 3000px;
    margin-right: -3000px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    color: white;
}

/* #header-toolbar-wrap a { */
/*     color: white; */
/* } */

.dropdown {
    float:left;
    display: inline-block;
    padding-right: 5px;

    margin-right: 10px;
    border-right: 3px solid white;

    color: white;
}

.dropdown a {
    color: white;
}

.dropdown:hover {
    background-color: white;
    color: #448eb8;
}

.dropdown:hover a {
    /* color: black; */
    color: #448eb8;
}

/* .dropdown-title a:hover { */
/*     background-color: white; */
/*     color: #448eb8; */
/* } */

.dropdown-item {
    padding-left: 10px;
    visibility: hidden;
}

.dropdown:hover .dropdown-item {
    visibility: visible;
}

.dropdown:last-child {
    float:none;
}
